.screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 0;

  background: linear-gradient(
    135deg,
    #f2fcf6 0%,
    #b4e0cc 60%,
    #52A773 100%
  );

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}